@import url("https://fonts.googleapis.com/css2?family=Nunito&family=Poppins&display=swap");

* {
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
  color: #fff;
  background-color: #212529;
  margin: 0;
  padding: 0;
}

.text-center {
  text-align: left;
}

.img {
  width: 55%;
  border-radius: 12px;
  cursor: pointer;
  animation: fadeIn 5s;
  animation: fadeOut 5s;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#fact {
  font-size: 1.25rem;
}

#btn {
  margin: 20px;
}

.disclaimer {
  font-family: "Poppins", sans-serif;
}

#bold {
  font-weight: bold;
}

footer {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 15px 23px;
  padding-bottom: 0px;
  color: #fff;
  text-align: center;
}

#link {
  text-decoration: none;
}

footer span a {
  color: #40e0d0;
  text-decoration: none;
}

footer span a:hover {
  color: #fff;
  text-decoration: wavy;
}

/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar {
  width: 0.6rem;
  border-radius: 0.5rem;
  background-color: hsl(207, 4%, 75%);
}

::-webkit-scrollbar-thumb {
  background-color: hsl(207, 4%, 65%);
  border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover {
  background-color: hsl(207, 4%, 55%);
}
